In [1]:
import pandas as pd
from transformations import call_type as ct
from transformations import mappings as m
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel(r'C:/Users/kocherlp/Bristol-Myers Squibb (O365-D)/Ramnauth, Kevin - Projects/telephony-data/data/Example_Telephony mock for contact center metrics_03.xlsx')

df['Date'] = df['Date'].apply(lambda x:x.date())

In [3]:
def concat(x):
    frames = [df, x]
    return pd.concat(frames, sort=False)

In [4]:
df_FieldSci = pd.read_excel(r'C:/Users/kocherlp/Bristol-Myers Squibb (O365-D)/Ramnauth, Kevin - Projects/telephony-data/data/Field-Scientific Global Call Type.xlsx')
df_FieldSci['Call Type'] = df_FieldSci['Call Type Name'].map(m.dfmap_fieldsci['Service Desk'])

In [5]:
df = concat(ct.CallType(df_FieldSci))

In [6]:
df

,Service Desk,Date,Call Offered,Call Answered,Answered <60,% Answered <60,Call Abandoned,% Call Abandoned,Average Talk Time,Average Speed to Answer
0,Field,2018-10-01,26,26,26.0000,1.000000,0,0.000000,00:08:08,00:00:11
1,Scientific,2018-10-01,26,26,26.0000,1.000000,0,0.000000,00:08:23,00:00:09
2,DXC,2018-10-01,230,227,213.0000,0.938326,1,0.004348,00:08:48,00:00:17
3,OTC AMER,2018-10-01,35,35,35.0000,1.000000,0,0.000000,00:07:46,00:00:12
4,OTC EMEA,2018-10-01,13,13,13.0000,1.000000,0,0.000000,00:05:54,00:00:10
5,SAP,2018-10-01,18,18,18.0000,1.000000,0,0.000000,00:08:14,00:00:09
6,Field,2018-11-01,26,22,20.0000,0.909100,4,0.153800,00:07:58,00:00:19
7,Scientific,2018-11-01,240,237,233.0000,0.983122,1,0.004167,00:08:00,00:00:12
8,DXC,2018-11-01,53,49,47.0000,0.959184,4,0.075472,00:03:59,00:00:19
9,OTC AMER,2018-11-01,29,29,29.0000,1.000000,0,0.000000,00:07:01,00:00:12
10,OTC EMEA,2018-11-01,241,238,225.0000,0.945378,3,0.012448,00:00:14,00:08:24
11,SAP,2018-11-01,35,35,35.0000,1.000000,0,0.000000,00:09:40,00:00:12
12,Field,2018-12-01,28,28,28.0000,1.000000,0,0.000000,00:08:45,00:00:11
13,Scientific,2018-12-01,236,229,221.0000,0.965066,4,0.016949,00:09:06,00:00:14
14,DXC,2018-12-01,25,25,25.0000,1.000000,0,0.000000,00:11:19,00:00:11
15,OTC AMER,2018-12-01,28,27,27.0000,1.000000,0,0.000000,00:09:00,00:00:10
16,OTC EMEA,2018-12-01,26,26,26.0000,1.000000,0,0.000000,00:08:08,00:00:11
17,SAP,2018-12-01,26,26,26.0000,1.000000,0,0.000000,00:08:23,00:00:09
18,Field,2019-01-10,230,227,213.0000,0.938326,1,0.004348,00:08:48,00:00:17
19,Scientific,2019-01-10,35,35,35.0000,1.000000,0,0.000000,00:07:46,00:00:12
20,DXC,2019-01-10,13,13,13.0000,1.000000,0,0.000000,00:05:54,00:00:10
21,OTC AMER,2019-01-10,18,18,18.0000,1.000000,0,0.000000,00:08:14,00:00:09
22,OTC EMEA,2019-01-10,26,22,20.0000,0.909100,4,0.153800,00:07:58,00:00:19
23,SAP,2019-01-10,240,237,233.0000,0.983122,1,0.004167,00:08:00,00:00:12
24,Field,2019-02-10,25,25,25.0000,1.000000,0,0.000000,00:11:19,00:00:11
25,Scientific,2019-02-10,28,27,27.0000,1.000000,0,0.000000,00:09:00,00:00:10
26,DXC,2019-02-10,26,26,26.0000,1.000000,0,0.000000,00:08:08,00:00:11
27,OTC AMER,2019-02-10,26,26,26.0000,1.000000,0,0.000000,00:08:23,00:00:09
28,OTC EMEA,2019-02-10,230,227,213.0000,0.938326,1,0.004348,00:08:48,00:00:17
29,SAP,2019-02-10,35,35,35.0000,1.000000,0,0.000000,00:07:46,00:00:12
0,Field,2018-03-27,300,258,242.3334,0.939277,40,0.133333,00:09:31,00:00:09
2,Scientific,2018-03-27,46,45,44.0000,0.977778,1,0.021739,00:07:09,00:00:06
1,Field,2018-03-28,216,203,197.4446,0.972633,13,0.060185,00:09:21,00:00:06
3,Scientific,2018-03-28,57,55,55.0000,1.000000,2,0.035088,00:07:35,00:00:05

In [7]:
df_OTCAmer = pd.read_excel(r'C:/Users/kocherlp/Bristol-Myers Squibb (O365-D)/Ramnauth, Kevin - Projects/telephony-data/data/CALL TYPE DAILY 2018_v2.xlsx')
df_OTCAmer['Call Type'] = df_OTCAmer['Call Type Name'].map(m.dfmap_otc_amer['Service Desk'])

In [8]:
df = concat(ct.CallType(df_OTCAmer))

In [9]:
df_OTCEmea = pd.read_excel(r'C:/Users/kocherlp/Bristol-Myers Squibb (O365-D)/Ramnauth, Kevin - Projects/telephony-data/data/OTC EMEA CALL TYPE NEW.xlsx')
df_OTCEmea['Call Type'] = df_OTCEmea['Call Type Name'].map(m.dfmap_otc_emea['Service Desk'])

In [10]:
df = concat(ct.CallType(df_OTCEmea))

In [11]:
df_SAP = pd.read_html(r'C:/Users/kocherlp/Bristol-Myers Squibb (O365-D)/Ramnauth, Kevin - Projects/telephony-data/data/MTD Score - March 2019.htm')
df = concat(ct.FuncSAP(df_SAP))

In [12]:
df

,Service Desk,Date,Call Offered,Call Answered,Answered <60,% Answered <60,Call Abandoned,% Call Abandoned,Average Talk Time,Average Speed to Answer,1,2,3,4,5,6,7
0,Field,2018-10-01,26.0,26.0,26.0000,1.000000,0.0,0.000000,00:08:08,00:00:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Scientific,2018-10-01,26.0,26.0,26.0000,1.000000,0.0,0.000000,00:08:23,00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DXC,2018-10-01,230.0,227.0,213.0000,0.938326,1.0,0.004348,00:08:48,00:00:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OTC AMER,2018-10-01,35.0,35.0,35.0000,1.000000,0.0,0.000000,00:07:46,00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OTC EMEA,2018-10-01,13.0,13.0,13.0000,1.000000,0.0,0.000000,00:05:54,00:00:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,SAP,2018-10-01,18.0,18.0,18.0000,1.000000,0.0,0.000000,00:08:14,00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Field,2018-11-01,26.0,22.0,20.0000,0.909100,4.0,0.153800,00:07:58,00:00:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Scientific,2018-11-01,240.0,237.0,233.0000,0.983122,1.0,0.004167,00:08:00,00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,DXC,2018-11-01,53.0,49.0,47.0000,0.959184,4.0,0.075472,00:03:59,00:00:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,OTC AMER,2018-11-01,29.0,29.0,29.0000,1.000000,0.0,0.000000,00:07:01,00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,OTC EMEA,2018-11-01,241.0,238.0,225.0000,0.945378,3.0,0.012448,00:00:14,00:08:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,SAP,2018-11-01,35.0,35.0,35.0000,1.000000,0.0,0.000000,00:09:40,00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Field,2018-12-01,28.0,28.0,28.0000,1.000000,0.0,0.000000,00:08:45,00:00:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Scientific,2018-12-01,236.0,229.0,221.0000,0.965066,4.0,0.016949,00:09:06,00:00:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,DXC,2018-12-01,25.0,25.0,25.0000,1.000000,0.0,0.000000,00:11:19,00:00:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,OTC AMER,2018-12-01,28.0,27.0,27.0000,1.000000,0.0,0.000000,00:09:00,00:00:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,OTC EMEA,2018-12-01,26.0,26.0,26.0000,1.000000,0.0,0.000000,00:08:08,00:00:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,SAP,2018-12-01,26.0,26.0,26.0000,1.000000,0.0,0.000000,00:08:23,00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Field,2019-01-10,230.0,227.0,213.0000,0.938326,1.0,0.004348,00:08:48,00:00:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Scientific,2019-01-10,35.0,35.0,35.0000,1.000000,0.0,0.000000,00:07:46,00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,DXC,2019-01-10,13.0,13.0,13.0000,1.000000,0.0,0.000000,00:05:54,00:00:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,OTC AMER,2019-01-10,18.0,18.0,18.0000,1.000000,0.0,0.000000,00:08:14,00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,OTC EMEA,2019-01-10,26.0,22.0,20.0000,0.909100,4.0,0.153800,00:07:58,00:00:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,SAP,2019-01-10,240.0,237.0,233.0000,0.983122,1.0,0.004167,00:08:00,00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Field,2019-02-10,25.0,25.0,25.0000,1.000000,0.0,0.000000,00:11:19,00:00:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Scientific,2019-02-10,28.0,27.0,27.0000,1.000000,0.0,0.000000,00:09:00,00:00:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,DXC,2019-02-10,26.0,26.0,26.0000,1.000000,0.0,0.000000,00:08:08,00:00:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,OTC AMER,2019-02-10,26.0,26.0,26.0000,1.000000,0.0,0.000000,00:08:23,00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,OTC EMEA,2019-02-10,230.0,227.0,213.0000,0.938326,1.0,0.004348,00:08:48,00:00:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,SAP,2019-02-10,35.0,35.0,35.0000,1.000000,0.0,0.000000,00:07:46,00:00:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Field,2018-03-27,300.0,258.0,242.3334,0.939277,40.0,0.133333,00:09:31,00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Scientific,2018-03-27,46.0,45.0,44.0000,0.977778,1.0,0.021739,00:07:09,00:00:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Field,2018-03-28,216.0,203.0,197.4446,0.972633,13.0,0.060185,00:09:21,00:00:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Scientific,2018-03-28,57.0,55.0,55.0000,1.000000,2.0,0.035088,00:07:35,00:00:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,OTC AMER,2019-03-27,20.0,18.0,18.0000,1.000000,2.0,0.100000,00:02:27,00:00:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OTC AMER,2019-03-28,20.0,20.0,19.0000,0.950000,0.0,0.000000,00:02:24,00:00:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,OTC EMEA,2019-03-27,208.0,184.0,175.5001,0.953805,5.0,0.024038,00:02:00,00:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OTC EMEA,2019-03-28,211.0,182.0,169.0001,0.928572,22.0,0.104265,00:02:13,00:00:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2198,2049,93.22%,149,6.78%,0:00:17,0:10:06

In [22]:
dtf = pd.read_html(r'C:/Users/kocherlp/Bristol-Myers Squibb (O365-D)/Ramnauth, Kevin - Projects/telephony-data/data/MTD Score - March 2019.htm')

In [23]:
dtf = dtf[3]
dtf

,0,1,2,3,4,5,6,7
0,NaN,Mar-19,NaN,NaN,NaN,NaN,NaN,NaN
1,Language,Offered,Answered,Percentage,Abandoned,Abandoned %,ASA,Average Talk Time
2,English,1345,1273,94.6%,72,5.4%,0:00:33,0:09:48
3,French,84,84,100.0%,0,0.0%,0:00:13,0:08:42
4,German,10,9,90.0%,1,10.0%,0:00:06,0:11:32
5,Italian,29,26,89.7%,3,10.3%,0:00:07,0:14:44
6,Japanese,208,183,88.0%,25,12.0%,0:00:36,0:08:10
7,Korean,2,2,100.0%,0,0.0%,0:00:09,0:08:15
8,Mandarin,378,339,89.7%,39,10.3%,0:00:14,0:06:39
9,Portuguese,23,19,82.6%,4,17.4%,0:00:23,0:13:21
10,Russian,0,0,-,0,-,-,-
11,Spanish,119,114,95.8%,5,4.2%,0:00:15,0:09:45
12,Thai,0,0,-,0,-,-,-
13,Turkish,0,0,-,0,-,-,-
14,Grand Total,2198,2049,93.22%,149,6.78%,0:00:17,0:10:06

In [24]:
dtf = dtf.rename(columns = {1: "Call Offered",
                        2: "Call Answered",
                        3:"% Answered <60", 
                        4: "Call Abandoned",
                        5: "Average Talk Time",
                        6: "Average Speed to Answer",
                        7: "Average Talk Time"}) 

dtf

,0,Call Offered,Call Answered,% Answered <60,Call Abandoned,Average Talk Time,Average Speed to Answer,Average Talk Time
0,NaN,Mar-19,NaN,NaN,NaN,NaN,NaN,NaN
1,Language,Offered,Answered,Percentage,Abandoned,Abandoned %,ASA,Average Talk Time
2,English,1345,1273,94.6%,72,5.4%,0:00:33,0:09:48
3,French,84,84,100.0%,0,0.0%,0:00:13,0:08:42
4,German,10,9,90.0%,1,10.0%,0:00:06,0:11:32
5,Italian,29,26,89.7%,3,10.3%,0:00:07,0:14:44
6,Japanese,208,183,88.0%,25,12.0%,0:00:36,0:08:10
7,Korean,2,2,100.0%,0,0.0%,0:00:09,0:08:15
8,Mandarin,378,339,89.7%,39,10.3%,0:00:14,0:06:39
9,Portuguese,23,19,82.6%,4,17.4%,0:00:23,0:13:21
10,Russian,0,0,-,0,-,-,-
11,Spanish,119,114,95.8%,5,4.2%,0:00:15,0:09:45
12,Thai,0,0,-,0,-,-,-
13,Turkish,0,0,-,0,-,-,-
14,Grand Total,2198,2049,93.22%,149,6.78%,0:00:17,0:10:06

In [25]:
dtf = dtf.drop(columns=0)
dtf = dtf[-1:]

In [26]:
dtf

,Call Offered,Call Answered,% Answered <60,Call Abandoned,Average Talk Time,Average Speed to Answer,Average Talk Time
14,2198,2049,93.22%,149,6.78%,0:00:17,0:10:06